/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@font-face {
  font-family: "Montserrat Alternates";
  src: local("montserrat-alternates-regular"),
    url("../fonts/montserrat-alternates-regular.woff2") format("woff2"),
    url("../fonts/montserrat-alternates-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("montserrat-alternates-medium"),
    url("../fonts/montserrat-alternates-medium.woff2") format("woff2"),
    url("../fonts/montserrat-alternates-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("montserrat-alternates-extrabold"),
    url("../fonts/montserrat-alternates-extrabold.woff2") format("woff2"),
    url("../fonts/montserrat-alternates-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("montserrat-alternates-black"),
    url("../fonts/montserrat-alternates-black.woff2") format("woff2"),
    url("../fonts/montserrat-alternates-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --orange: #ed6c30;
  --montserrat: "Montserrat Alternates", "Arial", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
a,
p {
  font-family: var(--montserrat);
  margin: 0;
}

h2 {
  color: var(--orange);
  font-weight: 900;
  line-height: 15px;
  font-size: 12px;
  padding-bottom: 8px;
}

p {
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 30px;
}

a {
  color: white;
  font-weight: 500;
  line-height: 15px;
  font-size: 12px;
}

a:hover,
a:focus-visible {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: var(--orange);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
}

.page__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.decor {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--white);
  width: 40vw;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 452px;
  width: 100%;
}

.main__inner img {
  margin: 0 auto;
}

.main__image {
  background-image: url("../img/main-image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 386px;
  height: 343px;
  margin-right: 110px;
}

.inform,
.inform__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inform {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inform__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 234px;
}

.inform__list li {
  margin-bottom: 8px;
}

.inform__social-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 125px;
}

.main__content h1 {
  font-family: var(--montserrat);
  font-size: 35px;
  line-height: 43px;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#ED542A), to(#EE903B));
  background: -o-linear-gradient(top, #ED542A 0%, #EE903B 100%);
  background: linear-gradient(180deg, #ED542A 0%, #EE903B 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: 20px;
}

@media (max-width: 1023px) {
  .page {
    padding: 10px;
  }

  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .decor {
    display: none;
  }

  .main__image {
    display: none;
  }

  .main__content {
    text-align: center;
  }

  .main__content p {
    padding-right: 0;
  }

  .inform {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .inform__list {
    margin: 0 auto;
  }

  .inform div {
    text-align: center;
  }

  .inform__list li:last-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}